* {
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    width: 100%;
    margin: 0;
    padding: 16px;
    display: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ea8ecb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

header {
    background-color: rgb(249, 5, 156);
    padding: 16px 0;
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-transform:  uppercase;
    font-style: italic;
}


h2 {
    font-family: 'Lato', sans-serif;
    Font-size: 30px;
}



form {
    display: flex;
    justify-content: center;
}

.scratch{
    text-decoration:line-through;
    font-weight: bold;
    color: #e40f6b;
}

#button {
    display: inline-block;
    height:50px;
	width:140px;
	background-color: #e40f6b;
	color:#ffffff;
	border-radius: 5px;
	margin-top: 30px;
	padding: 5px;
    justify-content: center;
}


#lists {
    padding: 15px;
}
.list {
	font-family: 'Dosis', sans-serif;
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}
